<header class="navbar navbar-fixed-top bg-primary">
    <div class="navbar-branding">
        <a class="navbar-brand" href="~/">
            <img src="~/assets/icons/logo-earth.png?h=60" class="img-responsive" />
        </a>
        <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a class="fs18 fw600" href="~/">
                WEBAPP Admins
            </a>
        </li>
    </ul>
</header>