@{
    ViewData["Title"] = "_NavBar";

}
<ul class="nav">
    <li class="">
        <a href="#">
            <i class="material-icons"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="">
        <a href="#">
            <i class="material-icons"></i>
            <p>Quản lý sản phẩm</p>
        </a>
    </li>
    <li class="">
        <a href="#">
            <i class="material-icons"></i>
            <p>Quản lý đơn hàng</p>
        </a>
    </li>
    <li class="">
        <a href="#">
            <i class="material-icons"></i>
            <p>Quản trị người dùng</p>
        </a>
    </li>
</ul>
