@{
    ViewData["Title"] = "_NavBar";

}
<ul class="nav navbar-nav">
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Thời trang</a>
        <ul class="dropdown">
            <li><a href="#">Thời trang nam</a></li>
            <li><a href="#">Thời trang nữ</a></li>
            <li><a href="#">Phụ kiện thời trang</a></li>
            <li><a heref="#">Giày dép</a></li>
            <li><a heref="#">Túi ví</a></li>
        </ul>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="About">Ðồ điện tử</a>
        <ul class="dropdown">
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Ðiện thoại </a></li>
            <li><a href="#">Máy tính bảng</a></li>
            <li><a href="#">Phụ kiện điện thoại</a></li>
        </ul>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Contact">Sức khỏe &amp; Làm đẹp</a>
        <ul class="dropdown">
            <li><a href="#">Cham sóc da mặt</a></li>
            <li><a href="#">Trang điểm</a></li>
            <li><a href="#">Thực phẩm bổ sung</a></li>
            <li><a heref="#">Thiết bị y tế</a></li>
        </ul>
    </li>
</ul>